/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 80px auto;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px;
}

.img-drop{
  height: 430px;
  position: relative;
  left: 85px;
}
.img-business{
    height: 100%;
    width: 100%;
}
.img-customer{
    width: 50%;
    height: 50%;
}

.img-center{
    display: inline-block;
    height: 70px;
    position: relative;
    top: 30px;
    left: 30px;
}


/* BUTTON */

.my-button {
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.my-button-grey{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

/* HEADER */

header .header-top .nav-container{
    display: flex;
    justify-content: space-between;
}

header .header-top .nav-container ul {
    display: flex;
    list-style: none;
} 

.col-small{
    display: flex;
}
.col-big{
    display: flex;
}

header .header-top .nav-container ul li {
    padding: 10px;
}

header .header-top .nav-container ul li a{
   color: #787878;
   text-decoration: none;
}

.header-bottom{
    background-color: #b4d0e7;
}

.header-bottom .jumbotron{
    position: relative;
    top: 30px;
}

h1{
 font-size: 3em;
 text-align: center;
 font-weight: bold;
}

.data{
    display: flex;
    flex-wrap: wrap;
} 

.big-data .jumbo{
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: contain;
    height: 100%;   
    background-repeat: no-repeat;
}

header .header-bottom{
    margin-bottom: 100px;
}

.small-data{
    width: 20%;
}

.top-data{
    position: relative;
    left: 220px;
}


.big-data{
    width: 80%;
}

.header-bottom .data .small-data span {
    font-size: 0.8em;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* MAIN */

.radio-button{
    margin-top: 30px;
}


#fatturazione_annuale{
    margin-left: 20px;
}

.box-1-3{
    width: calc((100% / 3) - 20px);
    margin: 10px;
}

.my-row .big-gutter{
    margin: 0 -20px;
}

.my-row .big-gutter .box-1-3{
    width: calc((100% / 3) - 40px) ;
    margin: 0 20px;
}

.box-full{
    width: calc(100% - 20px);
    margin: 10px 10px;
}

section .header-bottom .simile{
    margin-top: 20px;
}

.box-1-3 .pricing-column .space{
    margin-top: 20px;
}

main .pricing-column {
    border: 1px solid black;
}

main .pricing-column .pricing-header{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

main .pricing-column .pricing-content{
    margin-bottom: 5px;
}
.team-business{
    position: relative;
    left: 88px;
    margin-bottom: 110px;
}
main .box-trial{
    padding: 90px;
    display: flex;
    padding-left: 250px;
}

main .box-trial > a{
    margin-left: 100px;
}
.fa-ul > li{
    margin: 15px 0;
}

main .my-row hr{
    width: 30%;
}

.button-data{
    position: relative;
    top: 15px;  
}

main .data .small-data .partner-text{
    position: relative;
    left: -270px;
}

main .customers-container{
    display: flex;
    flex-wrap: wrap;
}

.full-customer-container{
    width: 100%;
}

main .customers-container > .single-customer-container{
    width: calc(100% / 3);
    height: calc((100vw - 15px) / 3);
    display: flex;
    flex-wrap: wrap;
}

.single-customer-container > .single-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.customer-center-box{
    position: relative;
    top: 90px;
    left: 30px;
  }

.hr-customer{
    margin-bottom: 60px;
    width: 30%;
}

.box-trial-container{
    background-color: #b4d0e7;
}

.customer-text{
    display: block;
    
}

.customer-text-bottom{
    margin-top: 30px;
    display: block;
}

.faq-container > *{
    margin: 30px;

}

.h2-faq{
    font-size: 2em;
    position: relative;
    left: 30px;
    bottom: 20px;
}


/* FOOTER */

.col-1-5{
    width: calc((100% / 6) * 1);
    /* margin: 0 10px; */
}



/* DEBUG */
/* .debug header .header-top{
    background-color: aquamarine;
    border: 2px dashed red;
} */

/* .debug header .nav-container{
    background-color: darkgoldenrod;
}

.debug header .nav-container > nav{
    background-color: purple;
    border: 2px dashed black;
} */

/* .debug header .header-bottom{
    background-color: blue;
} */

/* .debug .data{
    background-color: lightcoral;
    border: 2px dashed blue;
}

.debug .data > *{
    border: 2px dashed black;
    min-height: 300px;
}

.debug header .header-bottom .data{
    background-color: pink;
    border: 2px dashed black;
}  */
/* .debug main .my-row{
    background-color: coral;
    border: 2px dashed black;
}

  .debug .pricing-column{
    min-height: 300px;
    background-color: green;
    border: 2px dashed black;
}  */

.debug footer{
    background-color: pink;
    border: 2px dashed red;
}

.debug footer section{
    background-color: blueviolet;
    border: 2px dashed black;
    min-height: 300px;
}

.debug footer .col-1-5{
    background-color: green;
    border: 2px dashed white;
    min-height: 300px;
}

/* .debug .box-trial {
    background-color: burlywood;
} */

/* .debug .customers-container{
    background-color: hotpink;
    border: 2px dashed black;
}

.debug .customers-container .single-customer-container{
    border: 2px dashed black;
}

.debug .customers-container .single-customer-container .single-customer{
    border: 2px dashed black;
} */