/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 80px auto;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px;
}

/* main > * {
    margin-bottom: 40px;
} */


/* HEADER */

header .header-top .nav-container{
    display: flex;
    justify-content: space-between;
}

header .header-top .nav-container ul {
    display: flex;
    list-style: none;
} 

.col-small{
    display: flex;
}
.col-big{
    display: flex;
}

header .header-top .nav-container ul li {
    padding: 10px;
}

header .header-top .nav-container ul li a{
   color: white;
   text-decoration: none;
}

.header-bottom .jumbotron{
    position: relative;
    top: 50px;
}

.header-bottom .data{
    display: flex;
} 

header .header-bottom{
    margin-bottom: 100px;
}

.header-bottom .data .small-data{
    width: 30%;
}

.header-bottom .data .big-data{
    width: 70%;
}


/* MAIN */

.radio-button{
    margin-top: 30px;
}


#fatturazione_annuale{
    margin-left: 20px;
}

.box-1-3{
    width: calc((100% / 3) - 20px);
    margin: 10px;
}

.my-row .big-gutter{
    margin: 0 -20px;
}

.my-row .big-gutter .box-1-3{
    width: calc((100% / 3) - 40px) ;
    margin: 0 20px;
}

.box-full{
    width: calc(100% - 20px);
    margin: 10px 10px;
}

section .header-bottom .simile{
    margin-top: 20px;
}

.box-1-3 .pricing-column .space{
    margin-top: 20px;
}

main .box-trial{
    padding: 90px 60px;
    text-align: ;
}

main .customers-container{
    display: flex;
    flex-wrap: wrap;
}

main .customers-container > .single-customer-container{
    width: calc(100% / 3);
    height: calc((100vw - 15px) / 3);
    display: flex;
    flex-wrap: wrap;
}

.single-customer-container > .single-customer {
    width: 50%;
    height: 50%;
}


/* FOOTER */

.col-1-5{
    width: calc((100% / 6) * 1);
    /* margin: 0 10px; */
}



/* DEBUG */
.debug header .header-top{
    background-color: aquamarine;
    border: 2px dashed red;
}

.debug header .nav-container{
    background-color: darkgoldenrod;
}

.debug header .nav-container > nav{
    background-color: purple;
    border: 2px dashed black;
}

.debug header .header-bottom{
    background-color: blue;
}

.debug .data{
    background-color: lightcoral;
    border: 2px dashed blue;
}

.debug .data > *{
    border: 2px dashed black;
    min-height: 300px;
}

.debug header .header-bottom .data{
    background-color: pink;
    border: 2px dashed black;
}

.debug main .my-row{
    background-color: coral;
    border: 2px dashed black;
}

.debug .pricing-column{
    min-height: 300px;
    background-color: green;
    border: 2px dashed black;
}

.debug footer{
    background-color: pink;
    border: 2px dashed red;
}

.debug footer section{
    background-color: blueviolet;
    border: 2px dashed black;
    min-height: 300px;
}

.debug footer .col-1-5{
    background-color: green;
    border: 2px dashed white;
    min-height: 300px;
}

.debug .box-trial {
    background-color: burlywood;
}

.debug .customers-container{
    background-color: hotpink;
    border: 2px dashed black;
}

.debug .customers-container .single-customer-container{
    border: 2px dashed black;
}

.debug .customers-container .single-customer-container .single-customer{
    border: 2px dashed black;
}